<section class="about section">
  <div class="about__container">
    <div class="about__wrapper">
      <div class="about__contacts wow fadeInUp" data-wow-offset="100">
        @@include('contacts.html')
      </div>      
      <div class="about__info wow fadeInUp" data-wow-offset="100">
        <h3 class="about__info-title title">Наші переваги</h3>
        <div class="about__inner">
          <div class="about__item">Зручна логістика</div>
          <div class="about__item">Швидкість виконання</div>
          <div class="about__item">Велика база клієнтів</div>
          <div class="about__item">Вигідні ціни</div>
        </div>
      </div>
    </div>
  </div>
</section>