<form class="form" name="form">
  <div class="form__field">
    <label class="form__label" name="username" for="form-name">Ім'я</label>
    <input class="form__input" id="form-name" type="text">
  </div>
  <div class="form__field">
    <label class="form__label" name="email" for="form-email">Email</label>
    <input class="form__input email" id="form-email" type="email" placeholder="name@gmail.com">
  </div>
  <div class="form__field">
    <label class="form__label" name="phone" for="form-phone">Телефон</label>
    <input class="form__input phone" id="form-phone" type="tel" placeholder="+ 38 (000) 000-00-00">
  </div>
  <div class="form__field">
    <label class="form__label" name="message" for="form-message">Повідомлення</label>
    <textarea class="form__input" id="form-message"></textarea>
  </div>
  <button class="form__btn button" type="submit">
    <span>Зв'язатися з нами</span>
  </button>
</form>