<footer class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <img src="images/logo.svg" width="80" height="80" alt="logo">
      </div>
      <div class="footer__contacts">
        <a href="tel:3805012345678" class="footer__contacts-tel">+38 (050) 123 456 78</a>
        <p class="footer__contacts-info">Адреса: Lorem ipsum dolor sit amet consectetur</p>
        <p class="footer__contacts-info">Графік роботи: ПН-ПТ 08:00 - 18:00</p>
      </div>
      <div class="footer__menu">
        <div class="footer__menu-item">
          <a href="#" class="footer__menu-link">Новини</a>
          <a href="#" class="footer__menu-link">Блог</a>
          <a href="#" class="footer__menu-link">Почитати</a>
          <a href="#" class="footer__menu-link">Архів</a>
        </div>
        <div class="footer__menu-item">
          <a href="#" class="footer__menu-link">Про нас</a>
          <a href="#" class="footer__menu-link">Контакти</a>
          <a href="#" class="footer__menu-link">Реклама</a>
          <a href="#" class="footer__menu-link">Команда</a>
        </div>
      </div>
      <div class="footer__contacts-social">
        <h4 class="footer__contacts-title">Ми у соцмережах</h4>
        <div class="footer__contacts-inner">
          <a href="#" class="footer__contacts-link fa fa-facebook"></a>
          <a href="#" class="footer__contacts-link fa fa-instagram"></a>
          <a href="#" class="footer__contacts-link fa fa-twitter"></a>
          <a href="#" class="footer__contacts-link fa fa-telegram"></a>
        </div>
      </div>
    </div>
  </div>
</footer>