<header class="header">
    <div class="header__wrapper">
        <div class="header__container">
            <div class="header__inner">
                    <a href="#" class="header__logo">
                        <img src="images/logo.svg" width="60" height="60" alt="logo" class="logo__img">
                    </a>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-1</a>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-2</a>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-3</a>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-4</a>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-5</a>
                        </li>
                        <li class="navigation__item">
                            <a href="" class="navigation__link">Menu-6</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu__btn">
                    <span></span>
                 </div>
            </div>
            <div class="mob-menu">
                <div class="mob-menu__inner">
                    <nav class="mob-menu__nav">
                        <ul class="mob-menu__list">
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-1</a></li>
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-2</a></li>
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-3</a></li>
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-4</a></li>
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-5</a></li>
                            <li class="mob-menu__item"><a href="#" class="mob-menu__link">Menu-6</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>