<section class="news section">
  <div class="news__container">
    <div class="news__wrapper">
      <h2 class="news__title title">Останні новини</h2>
      <div class="news__inner">
        <div class="swiper news__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide news-item">
              <div class="news-item__img">
                <img src="images/news/news-1.jpg" alt="">
              </div>
              <div class="news-item__content">
                <h3 class="news-item__title">Lorem, ipsum dolor.</h3>
                <p class="news-item__text">
                  Україна є одним із світових лідерів за обсягами виробництва та експорту зерна, особливо пшениці, кукурудзи та ячменю
                </p>
              </div>
            </div>
            <div class="swiper-slide news-item">
              <div class="news-item__img">
                <img src="images/news/news-2.jpg" alt="">
              </div>
              <div class="news-item__content">
                <h3 class="news-item__title">Lorem, ipsum dolor.</h3>
                <p class="news-item__text">
                  Україна є одним із світових лідерів за обсягами виробництва та експорту зерна, особливо пшениці, кукурудзи та ячменю
                </p>
              </div>
            </div>
            <div class="swiper-slide news-item">
              <div class="news-item__img">
                <img src="images/news/news-3.jpg" alt="">
              </div>
              <div class="news-item__content">
                <h3 class="news-item__title">Lorem, ipsum dolor.</h3>
                <p class="news-item__text">
                  Україна є одним із світових лідерів за обсягами виробництва та експорту зерна, особливо пшениці, кукурудзи та ячменю
                </p>
              </div>
            </div>
          </div>
          <div class="news__arrows swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M8.00015 6.58569L2.58594 11.9999L8.00015 17.4141L9.41436 15.9999L6.41437 12.9999L21.0002 12.9999V10.9999L6.41436 10.9999L9.41436 7.99991L8.00015 6.58569Z" fill="black"/></svg>
          </div>
          <div class="news__arrows swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16 6.58569L21.4142 11.9999L16 17.4141L14.5858 15.9999L17.5858 12.9999L3 12.9999L3 10.9999L17.5858 10.9999L14.5858 7.99991L16 6.58569Z" fill="black"/></svg>
          </div>
        </div>
        <div class="news__info">
          <ul class="news__info-menu">
            <li class="news__info-item">
              <a class="news__info-link" href="#">
                <span class="news__info-date">01.01.2023</span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
                </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">02.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">03.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">04.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">02.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">03.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
            <li class="news__info-item">
              <a class="news__info-link" href="#">
              <span class="news__info-date">04.01.2023</span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, neque.
              </a>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
