<section class="progress section">
  <div class="progress__container">
    <div class="progress__wrapper">
      <h2 class="progress__title title">Наші досягнення</h2>
      <div class="progress__inner">
        <div class="progress__table">
          <table>
            <thead>
              <tr>
                <td></td>
                <th>Місяць</th>
                <th>Виконані роботи</th>
                <th>Загальний обсяг</th>
                <th>Загальний обсяг</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Зернові</th>
                <td>Січень</td>
                <td>Завантаження</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Зернові</th>
                <td>Лютий</td>
                <td>Завантаження</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Зернові</th>
                <td>Березень</td>
                <td>Завантаження</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Зернові</th>
                <td>Квітень</td>
                <td>Завантаження</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Зернові</th>
                <td>Травень</td>
                <td>Завантаження</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="progress__info">
          <div class="swiper progress__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide progress-item">
                <div class="progress-item__content">
                  <div class="progress-item__img" src="images/news/news-1.jpg" alt="">
                    <img src="images/news/news-1.jpg" alt="">
                  </div>
                  <p class="progress-item__text">Світові ціни на продовольчі товари знизилися у лютому 2024 року на 0,7%. За рік продовольство подешевшало на 10,5%.</p>
                </div>
                </div>
              <div class="swiper-slide progress-item">
                <div class="progress-item__content">
                  <div class="progress-item__img" src="images/news/news-1.jpg" alt="">
                    <img src="images/news/news-2.jpg" alt="">
                  </div>
                  <p class="progress-item__text">Через блокування пунктів пропуску на польсько-українському кордоні 67% топменеджерів членських компаній Європейської Бізнес Асоціації (ЄБА) заявили про відчутні наслідки для бізнесу.</p>
                </div>
              </div>
              <div class="swiper-slide progress-item">
                <div class="progress-item__content">
                  <div class="progress-item__img" src="images/news/news-1.jpg" alt="">
                    <img src="images/news/news-3.jpg" alt="">
                  </div>
                  <p class="progress-item__text">Громадам передали насіння овочевих культур для 200 тис. домогосподарств</p>
                </div>
              </div>
              <div class="swiper-slide progress-item">
                <div class="progress-item__content">
                  <div class="progress-item__img" src="images/news/news-1.jpg" alt="">
                    <img src="images/news/news-1.jpg" alt="">
                  </div>
                  <p class="progress-item__text">Громадам передали насіння овочевих культур для 200 тис. домогосподарств</p>
                </div>
              </div>
              <div class="swiper-slide progress-item">
                <div class="progress-item__content">
                  <div class="progress-item__img" src="images/news/news-1.jpg" alt="">
                    <img src="images/news/news-2.jpg" alt="">
                  </div>
                  <p class="progress-item__text">Потенційний врожай у 2024 році оцінюється на рівні 76,1 млн тонн зернових та олійних. В той час як врожай 2023 року склав 82,6 млн тонн.</p>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
