<section class="progress section">
  <div class="progress__container">
    <div class="progress__wrapper">
      <h2 class="progress__title title">Наші досягнення</h2>
      <div class="progress__inner">
        <div class="progress__table">
          <table>
            <thead>
              <tr>
                <td></td>
                <th>Місяць</th>
                <th>Виконані роботи</th>
                <th>Загальний обсяг</th>
                <th>Загальний обсяг</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Lorem, ipsum.</th>
                <td>Січень</td>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Lorem, ipsum.</th>
                <td>Лютий</td>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Lorem, ipsum.</th>
                <td>Березень</td>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Lorem, ipsum.</th>
                <td>Квітень</td>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
              <tr>
                <th>Lorem, ipsum.</th>
                <td>Травень</td>
                <td>Lorem ipsum dolor sit amet consectetur.</td>
                <td>100.000 тон</td>
                <td>100.000 тон</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="progress__info">
          <div class="swiper progress__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide progress-item">
                <img src="images/news/news-1.jpg" alt="">
                <p class="progress-item__text">фото-1</p>
              </div>
              <div class="swiper-slide progress-item">
                <img src="images/news/news-2.jpg" alt="">
                <p class="progress-item__text">фото-2</p>
              </div>
              <div class="swiper-slide progress-item">
                <img src="images/news/news-3.jpg" alt="">
                <p class="progress-item__text">фото-3</p>
              </div>
              <div class="swiper-slide progress-item">
                <img src="images/news/news-1.jpg" alt="">
                <p class="progress-item__text">фото-4</p>
              </div>
              <div class="swiper-slide progress-item">
                <img src="images/news/news-2.jpg" alt="">
                <p class="progress-item__text">фото-5</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
